<launch>
        <!--
        true : Use URSim in VBox
        false: Use the real robot
        -->
        <arg name="sim" default="false" />
        <arg name="debug" default="false" />

        <!-- Please adjust these for your network -->
        <arg if="$(arg sim)" name="robot_ip" value="192.168.1.9" doc="IP address of the URSim VirtualBox"/>
        <arg unless="$(arg sim)" name="robot_ip" value="192.168.0.54" doc="IP address of the real robot"/>

        <!-- The robot driver -->
        <include file="$(find cartesian_controllers_ur_robots)/launch/driver.xml">
                <arg name="robot_ip" value="$(arg robot_ip)"/>
                <arg name="debug" value="$(arg debug)"/>
        </include>

        <!-- Visualization -->
        <arg name="my_rviz" value="-d $(find cartesian_controllers_ur_robots)/etc/setup.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="$(arg my_rviz)" output="screen" >
        </node>


</launch>
